body{
    margin: 0;
}

h1 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 65px;
}

h2, h3, p, a {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 16px;
    line-height: 25px;
}

.main-container{
    display: grid;
}

.main-container header{
    grid-column: 1 / 5;
}

button{
    border: solid 2px #4CAF50;
    color: #4CAF50;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 0.5s, border  0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, border  0.5s, color 0.5s;
    -ms-transition: background-color 0.5s, border  0.5s, color 0.5s;
    -o-transition: background-color 0.5s, border  0.5s, color 0.5s;
    transition: background-color 0.5s, border  0.5s, color 0.5s;
}

button:hover{
    border: solid 2px #fff;
    color: #fff;
    padding: 5px;
    background-color: #4CAF50;
    cursor: pointer;
}

.conact-column{
    padding: 5px;
}

.content{
    display: grid;
    grid-column: 1 / 5;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: minmax(200px, auto) minmax(100px, auto) minmax(100px, auto) minmax(100px, auto);
}

.content > div{
    grid-column: 2 / 3;
    border-top: 1px solid #999;
    color: #999;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600px) {
    .content div{
        grid-column: 1 / 5;
    }
}
